<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <center>
            <div style="margin-top: 140px; margin-bottom: 50px;">
                <h1>Parabéns!!!!</h1>
                <img  src="{{url_for('static', filename='imagens/ganhou.gif')}}" width="500px"><br>
            </div>
            <button class='btn' onclick="window.location.href='/'">Jogar novamente</button>
        </center>
    </body>
</html>